@keyframes changeColor {
    0% {
        color: aliceblue;
    }
    50% {
        color: rebeccapurple;
    }
    100%{
        color: aliceblue;
    }
}

h1 {
    animation: changeColor 1s infinite;
}
